.markdown-body code, .markdown-body pre {
    font-family: "Noto Serif SC",monospace !important;
    font-size: 100% !important;
}

.markedown-body pre code {
    color: rgb(56 160 110);
}

code {
    color: rgb(56 160 110);
}